.author {
    position: absolute;
    width: 20rem;
    height: auto;
    right: 10rem;
    bottom: 0;
    z-index: 2;

    @media (max-width: $breakpoint_xl) {
        right: 3rem;
    }

    @media (max-width: $breakpoint_md) {
        width: 13rem;
        height: auto;
        right: 3rem;
    }

    @media (max-width: $breakpoint_sm) {
        display: none;
    }
}